.btn-out-petal {
    color: var(--petal);
    background-color: rgba(red, green, blue, 0);
    border-color: var(--petal);
    border-radius: 20px;
}

.btn-out-petal:hover {
    color: white;
    background-color: var(--l-pink);
    border-color: var(--smoke);
}
/* .dropdown {
    border-radius: 20px;
} */
.btn-sort {
    position: absolute;
    right: 15%;
    align-items: center;
}